<!-- templates/jouer.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu Pierre-Feuille-Ciseaux</title>
</head>
<body>
    <h1>Jeu Pierre-Feuille-Ciseaux</h1>
<!-- du Jinja2  moteur de template que flask utilise -->
    {% if resultat %} <!-- verifie si resultat existe et n est pas vide si c est vrai ca execute jusqu'a {% endif %} sinon il saute ca   -->
        <p><strong>Joueur :</strong> {{ resultat.nom_joueur }}</p>
        <p><strong>Manche :</strong> {{ resultat.manche }} / {{ resultat.total_manches }}</p>
        <p><strong>Score :</strong> {{ resultat.score_joueur }} | Ordi : {{ resultat.score_ordi }}</p>

        {% if resultat.fini %} <!-- fini est une variable si elle est true on arrete sinon on continue -->
            <h2>Partie terminée !</h2>
            <p>{{ resultat.message_final }}</p>
            <form method="GET" action="/">
                <button type="submit">Retour au Menu</button>
            </form>
        {% else %} <!-- si  fini est false la partie est pas finie on continue -->
            <form method="POST" action="/jouer">
                <p>Choisis ton élément :</p>
                <button type="submit" name="choix_joueur" value="pierre">Pierre</button>
                <button type="submit" name="choix_joueur" value="feuille">Feuille</button>
                <button type="submit" name="choix_joueur" value="ciseaux">Ciseaux</button>
                <br><br>
                <button type="submit" name="action" value="valider">Valider</button>
            </form>
        {% endif %}

    {% else %}              <!--si resultat est vide donc pas de partie en cours -->
        <!-- Au tout début, pas encore de résultat -->
        <p>Bienvenue ! Commence une nouvelle partie.</p>
        <form method="POST" action="/jouer">
            <label for="nom_joueur">Nom du joueur :</label>
            <input type="text" id="nom_joueur" name="nom_joueur" placeholder="Ton nom" required>
            <br><br>
            <label for="total_manches">Nombre de manches :</label>
            <input type="number" id="total_manches" name="total_manches" min="1" max="10" value="3">
            <br><br>
            <button type="submit" name="action" value="demarrer_partie">Commencer la Partie</button>
        </form>
    {% endif %}

</body>
</html>
